* {
  margin: 0px;
  padding: 0px;
}
body {
  --header-background: #6200ff;
  --body-background: #8133ff;
  color: white;
}
body.dark {
  --header-background: #121212;
  --body-background: #3f3e3e;
  color: white;
  background: #202020;
}
select,
option {
  border: none;
  background-image: none;
  background-color: var(--header-background);
  color: white;
  outline: none;
}
select::after,
option::after {
  border: none;
  background-image: none;
  background-color: var(--header-background);
  color: white;
}
select:active,
option:active {
  border: none;
  background-image: none;
  background-color: var(--header-background);
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.profile {
  width: 1fr;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.5px rgb(165, 165, 165);
}
.backgroundImg {
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  cursor: pointer;
}
.actualImg {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  cursor: pointer;
  width: 100px;
  height: 100px;
}
.actualImg:hover {
  content: attr(data-tooltip);
}
.gem-icon {
  width: 10%;
  height: 10%;
}

@media only screen and (min-width: 700px) {
  .container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  .profile {
    height: 100px;
  }
}
@media only screen and (min-width: 900px) {
  .container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(150px, auto);
  }
  .profile {
    height: 150px;
  }
}
@media only screen and (min-width: 1100px) {
  .container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(200px, auto);
  }
  .profile {
    height: 200px;
  }
}
@media only screen and (min-width: 1300px) {
  .container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(250px, auto);
  }
  .profile {
    height: 250px;
  }
}
/* Flip card */

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
/* End */

.profile-container {
  display: flex;
  flex-direction: column;
}

.profile-header {
  /* width: 100%; */
  height: minmax(50px, auto);
  background-color: var(--header-background);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.ph-name {
  /* background-color: rgb(255, 38, 0); */
  /* color: white; */
  padding: 1em;
  align-self: center;
}
.ph-might {
  /* background-color: rgb(255, 187, 0); */
  /* color: white; */
  padding: 0.5em;
  align-self: center;
}
.ph-others {
  /* background-color: rgb(255, 72, 0); */
  /* color: white; */
  padding: 0.01em;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-rows: minmax(50px, auto); */
  /* align-content: center; */
}
.profile-body {
  width: 100%;
  /* background-color: #9dff00; */
  margin-top: 0.5em;
}
.castle-skin-card {
  height: auto;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  background-color: var(--body-background);
  border-radius: 5px;
  /* border: 1px solid var(--header-background); */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.cs-header {
  background-color: var(--header-background);
  padding: 0.5em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hide-content {
  cursor: pointer;
}
.castle-skin {
  height: auto;
  width: auto;
  margin: 1em;
  background-color: var(--header-background);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cs-img {
  width: 100px;
  margin: 0.5em;
}
.cs-star {
  margin: 0.5em;
}
.fa-star {
  width: 2em;
  height: auto;
}
.cs-img img {
  width: 100%;
}
.yellow {
  /* background-color: yellow; */
  color: yellow;
}
.fa-star {
  font-size: 50px;
}
.building-info-card {
  height: auto;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  background-color: var(--body-background);
  border-radius: 5px;
  /* border: 1px solid var(--header-background); */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.building-info-header {
  background-color: var(--header-background);
  /* color: white; */
  padding: 0.5em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.building-info-body {
  margin: 0.5em;
}
.table-info {
  border: 1px solid var(--header-background);
}
.theader {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  align-content: center;
  background-color: var(--header-background);
  /* color: white; */
}
.theader > p {
  align-self: center;
  justify-self: center;
}
.tcontent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(10px, auto);
  align-content: center;
  background-color: var(--body-background);
  padding: 0.5em 0;
  /* border: 1px solid var(--header-background); */
  /* color: white; */
}
.tcontent > p {
  align-self: center;
  justify-self: center;
}

.troop-composition-card {
  height: auto;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  background-color: var(--body-background);
  border-radius: 5px;
  /* border: 1px solid var(--header-background); */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.troop-composition-header {
  background-color: var(--header-background);
  /* color: white; */
  padding: 0.5em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.troop-composition-body {
  margin: 0.5em;
}
.troop-composition-table-info {
  border: 1px solid var(--header-background);
}
.troop-composition-theader {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(50px, auto);
  align-content: center;
  background-color: var(--header-background);
  /* color: white; */
}
.troop-composition-theader > p {
  align-self: center;
  justify-self: center;
}
.troop-composition-tcontent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(10px, auto);
  align-content: center;
  background-color: var(--body-background);
  padding: 0.5em 0;
  /* border: 1px solid var(--header-background); */
}
.troop-composition-tcontent > p {
  align-self: center;
  justify-self: center;
}
.troop-composition-total {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(10px, auto);
  align-content: center;
  background-color: var(--body-background);
  padding: 0.5em 0;
  /* border: 1px solid var(--header-background); */
}
.troop-composition-total > p {
  align-self: center;
  justify-self: center;
}
.troop-composition-total > .total {
  grid-column: 3/7;
}

.hero-info-card {
  height: auto;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  background-color: var(--body-background);
  border-radius: 5px;
  /* border: 1px solid var(--header-background); */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.hero-info-header {
  background-color: var(--header-background);
  /* color: white; */
  padding: 0.5em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hero-info-body {
  margin: 0.5em;
}
.hero-thumbnail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(10px, auto);
  align-content: center;
  /* align-items: center; */
}
.hero-grade {
  width: 1fr;
  margin: 0.5em;
  border-radius: 5%;
}
.common-grade {
  border-style: solid;
  border-width: 7px;
  border-color: grey;
}
.uncommon-grade {
  border-style: solid;
  border-width: 7px;
  border-color: green;
}
.rare-grade {
  border-style: solid;
  border-width: 7px;
  border-color: blue;
}
.epic-grade {
  border-style: solid;
  border-width: 7px;
  border-color: purple;
}
.legendary-grade {
  border-style: solid;
  border-width: 7px;
  border-color: yellow;
}
.hero-thumbnail-img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.hero-thumbnail-img > img {
  width: 100%;
  height: 100%;
}
.hero-rank-img > img {
  width: 30%;
  height: 30%;
  position: relative;
  float: left;
  margin-top: -33%;
}
.hero-level {
  width: 2fr;
  height: 2fr;
  font-size: xx-large;
  position: relative;
  float: right;
  margin-top: -25%;
  margin-right: 1%;
  font-weight: bold;
  font-family: Helvetica Neue, helvetica, arial, sans-serif;
}
.hero-level > p {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}
.float-back-btn {
  position: absolute;
  bottom: 10px;
}
.float-bottom {
  position: fixed;
  padding: 1em;
  right: 8px;
  bottom: 10px;
  background-color: var(--header-background);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.float-top {
  position: fixed;
  padding: 1em;
  right: 8px;
  top: 10px;
  background-color: var(--header-background);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.float > a {
  color: #fff;
}
.toggle-btn {
  padding-bottom: 1em;
  color: #fff;
  cursor: pointer;
}
.my-float {
  color: #fff;
}

.guildfest-card {
  height: auto;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  background-color: var(--body-background);
  border-radius: 5px;
  /* border: 1px solid var(--header-background); */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.guildfest-header {
  background-color: var(--header-background);
  /* color: white; */
  padding: 0.5em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.guildfest-body {
  margin: 0.5em;
}
.guildfest-table-info {
  border: 1px solid var(--header-background);
}
.guildfest-theader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  align-content: center;
  background-color: var(--header-background);
  /* color: white; */
}
.guildfest-theader > p {
  align-self: center;
  justify-self: center;
}
.guildfest-tbody {
  height: 200px;
  overflow-y: scroll;
}
.guildfest-tbody::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.guildfest-tbody::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.guildfest-tbody::-webkit-scrollbar-thumb {
  background: var(--header-background);
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.guildfest-description {
  display: none;
}

.guildfest-tcontent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(10px, auto);
  align-content: center;
  background-color: var(--body-background);
  padding: 0.5em 0;
  /* border: 1px solid var(--header-background); */
}
.guildfest-tcontent > p {
  align-self: center;
  justify-self: center;
  padding: 0.5em 0;
}
.equipment-card {
  height: auto;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  background-color: var(--body-background);
  border-radius: 5px;
  /* border: 1px solid var(--header-background); */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.equipment-header {
  background-color: var(--header-background);
  /* color: white; */
  padding: 0.5em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.equipment-body {
  margin: 0.5em;
}
.equipment-thumbnail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(10px, auto);
  align-content: center;
  grid-gap: 1em;
  background-color: var(--body-background);
  padding: 1em 1;
  cursor: pointer;
}
.equipment-thumbnail > p {
  border: 1px solid var(--header-background);
  padding: 1em;
  border-radius: 5px;
  background-color: var(--header-background);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 1em;
}
.equipment-modal {
  background-color: rgba(0, 0, 0, 0.75); /* Fallback color */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed; /* Stay in place */
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  display: none;
}
.equipment-modal::-webkit-scrollbar {
  display: none;
}
.equipment-modal-card {
  /* display: none; */

  width: 90%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  background-color: var(--body-background);
  border-radius: 5px;
  /* border: 1px solid var(--header-background); */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.equipment-modal-header {
  background-color: var(--header-background);
  /* color: white; */
  padding: 0.5em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.equipment-modal-body {
  margin: 0.5em;
}
.equipment-modal-thumbnail {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(10px, auto);
  align-content: center;
  grid-gap: 1em;
  background-color: var(--body-background);
  padding: 1em 1;
  cursor: pointer;
}
.equipment-modal-thumbnail > .equipment-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(10px, auto);
  align-content: center;
  grid-gap: 1em;
}
.equipment-main-hand,
.equipment-legs,
.equipment-helmet,
.equipment-armor,
.equipment-accessories-1,
.equipment-accessories-2,
.equipment-off-hand,
.equipment-accessories-3 {
  width: 114px;
  height: 114px;
  background-image: url("/LMwebsite/src/images/Equipement/Common_Equipment.png");
  background-size: cover;
}
.equipment-main-hand,
.equipment-legs {
  justify-self: end;
}
.equipment-helmet,
.equipment-armor,
.equipment-accessories-1,
.equipment-accessories-2 {
  justify-self: center;
}
.equipment-off-hand,
.equipment-accessories-3 {
  justify-self: start;
}
.equipment-result {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(10px, auto);
  align-content: center;
}
.equipment-result > .result-header {
  justify-self: start;
  grid-column: 1/4;
}
.equipment-result > .result-body {
  justify-self: center;
  grid-column: 1/4;
}
.main-hand-jewels,
.off-hand-jewels,
.helmet-jewels,
.armor-jewels,
.legs-jewels,
.accessories-1-jewels,
.accessories-2-jewels,
.accessories-3-jewels {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25%;
  margin-top: -25%;
}
.main-hand-jewels > .jewel-slot-1,
.main-hand-jewels > .jewel-slot-2,
.main-hand-jewels > .jewel-slot-3,
.main-hand-jewels > .sigils,
.off-hand-jewels > .jewel-slot-1,
.off-hand-jewels > .jewel-slot-2,
.off-hand-jewels > .jewel-slot-3,
.off-hand-jewels > .sigils,
.helmet-jewels > .jewel-slot-1,
.helmet-jewels > .jewel-slot-2,
.helmet-jewels > .jewel-slot-3,
.helmet-jewels > .sigils,
.armor-jewels > .jewel-slot-1,
.armor-jewels > .jewel-slot-2,
.armor-jewels > .jewel-slot-3,
.armor-jewels > .sigils,
.legs-jewels > .jewel-slot-1,
.legs-jewels > .jewel-slot-2,
.legs-jewels > .jewel-slot-3,
.legs-jewels > .sigils,
.accessories-1-jewels > .jewel-slot-1,
.accessories-1-jewels > .jewel-slot-2,
.accessories-1-jewels > .jewel-slot-3,
.accessories-1-jewels > .sigils,
.accessories-2-jewels > .jewel-slot-1,
.accessories-2-jewels > .jewel-slot-2,
.accessories-2-jewels > .jewel-slot-3,
.accessories-2-jewels > .sigils,
.accessories-3-jewels > .jewel-slot-1,
.accessories-3-jewels > .jewel-slot-2,
.accessories-3-jewels > .jewel-slot-3,
.accessories-3-jewels > .sigils {
  width: 25%;
  height: auto;
  background-image: url("/LMwebsite/src/images/Equipement/Common_Equipment.png");
  background-size: cover;
}
.main-hand-jewels > .jewel-slot-1 > img,
.main-hand-jewels > .jewel-slot-2 > img,
.main-hand-jewels > .jewel-slot-3 > img,
.main-hand-jewels > .sigils > img,
.off-hand-jewels > .jewel-slot-1 > img,
.off-hand-jewels > .jewel-slot-2 > img,
.off-hand-jewels > .jewel-slot-3 > img,
.off-hand-jewels > .sigils > img,
.helmet-jewels > .jewel-slot-1 > img,
.helmet-jewels > .jewel-slot-2 > img,
.helmet-jewels > .jewel-slot-3 > img,
.helmet-jewels > .sigils > img,
.armor-jewels > .jewel-slot-1 > img,
.armor-jewels > .jewel-slot-2 > img,
.armor-jewels > .jewel-slot-3 > img,
.armor-jewels > .sigils > img,
.legs-jewels > .jewel-slot-1 > img,
.legs-jewels > .jewel-slot-2 > img,
.legs-jewels > .jewel-slot-3 > img,
.legs-jewels > .sigils > img,
.accessories-1-jewels > .jewel-slot-1 > img,
.accessories-1-jewels > .jewel-slot-2 > img,
.accessories-1-jewels > .jewel-slot-3 > img,
.accessories-1-jewels > .sigils > img,
.accessories-2-jewels > .jewel-slot-1 > img,
.accessories-2-jewels > .jewel-slot-2 > img,
.accessories-2-jewels > .jewel-slot-3 > img,
.accessories-2-jewels > .sigils > img,
.accessories-3-jewels > .jewel-slot-1 > img,
.accessories-3-jewels > .jewel-slot-2 > img,
.accessories-3-jewels > .jewel-slot-3 > img,
.accessories-3-jewels > .sigils > img {
  width: auto;
  height: 100%;
}
@media only screen and (min-width: 700px) {
  .ph-others {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 800px) {
  .profile-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
  }
  .fa-star {
    font-size: 35px;
  }
  .hero-level {
    font-size: x-large;
  }
  .common-grade {
    border-width: 5px;
  }
  .uncommon-grade {
    border-width: 5px;
  }
  .rare-grade {
    border-width: 5px;
  }
  .epic-grade {
    border-width: 5px;
  }
  .legendary-grade {
    border-width: 5px;
  }
  .guildfest-tcontent > p > img {
    width: 70%;
  }
  .guildfest-card {
    grid-column: 1/3;
  }
  .guildfest-theader {
    grid-template-columns: repeat(4, 1fr);
  }
  .guildfest-tcontent {
    grid-template-columns: repeat(4, 1fr);
  }
  .guildfest-description {
    display: block;
  }
  .guildfest-quest {
    grid-column: 1/3;
  }
  .equipment-card {
    grid-column: 1/3;
  }
  .equipment-thumbnail {
    grid-template-columns: repeat(4, 1fr);
  }
  .equipment-modal-thumbnail {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1000px) {
  .profile-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
  }
  h1 {
    font-size: 1.5em;
  }
  .ph-others {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    grid-gap: 1em;
  }
  .fa-star {
    font-size: 25px;
  }
  .common-grade {
    border-width: 3px;
  }
  .uncommon-grade {
    border-width: 3px;
  }
  .rare-grade {
    border-width: 3px;
  }
  .epic-grade {
    border-width: 3px;
  }
  .legendary-grade {
    border-width: 3px;
  }
  .guildfest-card {
    grid-column: 2/4;
  }
  .equipment-card {
    grid-column: 1/4;
  }
  .equipment-thumbnail {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (min-width: 1100px) {
  .fa-star {
    font-size: 30px;
  }
  .hero-thumbnail {
    grid-template-columns: repeat(4, 1fr);
  }
  .hero-level {
    font-size: large;
  }
}
@media only screen and (min-width: 1200px) {
  .fa-star {
    font-size: 35px;
  }
  .equipment-modal-card {
    /* display: none; Hidden by default */

    width: 70%;
    margin-left: 15%;
  }
}
@media only screen and (min-width: 1300px) {
  .fa-star {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1400px) {
  .fa-star {
    font-size: 50px;
  }
  .hero-level {
    font-size: x-large;
  }
}
.hidden {
  display: none;
}
